In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('quotes.csv')
data

,Open,Daily Range,Volume,Dividend,Prev Close,52WK Range,Average Vol (30D),Net Dividend Yield,Best Bid,Best Ask,Market Cap,
0,1.06,1.06 - 1.24,"18,455",NaN,1.06,0.685 - 2.75,"19,813",NaN,1.16,1.25,"31,234,040","25,188,742"

In [3]:
data.columns[11]

' '

In [4]:
data.columns = data.columns[:11].tolist()  + ['SHARES OUT']

In [5]:
data

,Open,Daily Range,Volume,Dividend,Prev Close,52WK Range,Average Vol (30D),Net Dividend Yield,Best Bid,Best Ask,Market Cap,SHARES OUT
0,1.06,1.06 - 1.24,"18,455",NaN,1.06,0.685 - 2.75,"19,813",NaN,1.16,1.25,"31,234,040","25,188,742"

In [6]:
data.to_csv('quotes.csv', index = False)

In [7]:
data = pd.read_csv('quotes.csv')

In [8]:
data

,Open,Daily Range,Volume,Dividend,Prev Close,52WK Range,Average Vol (30D),Net Dividend Yield,Best Bid,Best Ask,Market Cap,SHARES OUT
0,1.06,1.06 - 1.24,"18,455",NaN,1.06,0.685 - 2.75,"19,813",NaN,1.16,1.25,"31,234,040","25,188,742"

In [49]:
{'area': 'new-hills', 'rainfall': 100, 'temperature': 20},
{'area': 'new-hillss', 'rainfall': 100, 'temperature': 20}

{'area': 'new-hillss', 'rainfall': 100, 'temperature': 20}

In [52]:
result = [{'area': 'new-hills', 'rainfall': 100, 'temperature': 20},
{'area': 'new-hillss', 'rainfall': 100, 'temperature': 2}]
result.append()

TypeError: append() takes exactly one argument (0 given)

In [53]:
result

[{'area': 'new-hills', 'rainfall': 100, 'temperature': 20},
 {'area': 'new-hillss', 'rainfall': 100, 'temperature': 2}]

In [54]:
data = pd.DataFrame(dictt,index = [0])
data

        area  rainfall  temperature
0  new-hills       100           20